*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

@media (max-width:2080px) {
  .App{
    padding: 200px;
  }
}

@media (max-width:1280px) {
  .App{
    padding: 120px;
  }
}

@media (max-width:1040px) {
  .App{
    padding: 100px;
  }
}

@media (max-width:768px) {
  .App{
    padding: 50px;
  }
}

@media (max-width:640px) {
  .App{
    padding: 30px;
  }
}